
yonga02/yonga02.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/$unit_c__users_abdk__desktop_elektronik_yongatek_staj_slemcitasarimi_yonga02_yonga02_srcs_sources_1_new_processor_sv.sdb
yonga02/yonga02.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@a@l@u.sdb
yonga02/yonga02.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/decoder.sdb
yonga02/yonga02.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/glbl.sdb
yonga02/yonga02.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/isa_package.sdb
yonga02/yonga02.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/processor.sdb
yonga02/yonga02.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/regfile.sdb
*.sdb
yonga02/yonga02.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
yonga02/yonga02.sim/sim_1/behav/xsim/xsim.ini
yonga02/yonga02.sim/sim_1/behav/xsim/xvlog.log
yonga02/yonga02.sim/sim_1/behav/xsim/xvlog.pb
